*{
   margin: 0;
   padding: 0;
}
body{
    background: rgb(168, 121, 199);
    font-family: cursive

}
h1{
    margin: 5%;
    text-align: center;
}
.cmain{
    margin: 5rem;
}
.c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.b1,.b2,.b3,.b4{
    height: 7rem;
    width: 7rem;
    margin: 0.3rem;
    border: solid black 4px;
    border-radius: 10px;
}
.b1{
    background: rgb(160, 70, 70);
}
.b2{
    background: rgb(121, 154, 60);
}
.b3{
    background: rgb(68, 97, 199);
}
.b4{
    background: rgb(206, 206, 74);
}
.shade{
    /* box-shadow: 5px 5px ; */
    opacity: 0.5;
}

.shade1{
    /* -webkit-box-shadow:5px 5px #fff; */
    box-shadow:  0 0 25px rgb(255, 255, 255) ;
    opacity: 0.5;
}

