*{
    margin: 0;
    padding: 0;
}
header{
    background: #000;
    color: blueviolet;
    /* height: 50px; */
    padding: 10px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    /* display: inline; */
    padding: 50px;
}
.flax{
    display: flex;
    justify-content: space-between;
}
.box1{
    height: 234px;
    width: 300px;
    background: pink
    ;
    color: #000;
}
.box2{
    height: 234px;
    width: 300px;
    background: salmon
    ;
    color: #000;
    align-content:space-between ;
}